<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO DO LIST</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@next"></script>
    <style>
        body {
            background-color: lightblue;
        }
    </style>
</head>
<body>
    <div class="container align-middle" id="app">

        <h1 style='margin-top : 80px; color:white; font-weight: bold; font-size:52px;' class="text-center">To Do List</h1>

        <!-- Affichage des tâches-->
        <div class="container" style="width:600px;">
            <ul style='margin-top : 50px' class="text-center list-group">
                <li style='margin:5px;color : darkslategrey' class="list-group-item" v-for="t in tasks">{{t.text}}
                    <button class="btn btn-outline-danger float-right" v-on:click="removeTask(t)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                        </svg>
                    </button>
                    <button class="btn btn-outline-info float-right"  v-on:click="hide();" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                          </svg>
                    </button>
                </li>
                <!--Mise à jour de tâche-->
                <div class="container row justify-content-center" v-if="!isHidden">
                    <form class="text-center" style="width:350px; margin-top:20px"  @submit.prevent="updateTask">
                        <input class="form-control" type="text"/>
                        <button style="margin-top:15px;" class="btn btn-info ">Mettre à jour</button>
                    </form>
                </div>

            </ul> 
        </div>
        
        <!--Formulaire création de tâche-->
        <div class="container">
            <div class="row justify-content-center">
                <form class="text-center" style='margin-top : 50px; width:350px;' @submit.prevent="addTask">
                    <input class="form-control" type="text" v-model="task.text"/>
                    <button style="margin-top:15px;" class="btn btn-info ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <script>
        const options = {
            methods : {
                addTask() {
                    if (!this.task.text) {
                            return;
                        }
                    this.task.id = Date.now()
                    this.tasks.push(this.task);
                    try {
                        localStorage.setItem("savedTasks", JSON.stringify(this.tasks));
                    } catch(e){
                    }
                    this.task = {}
                },
                updateTask() {

                },
                removeTask(task) {
                    const index = this.tasks.indexOf(task);
                    if (index > -1) {
                        this.tasks.splice(index, 1);
                    }
                    try {
                        localStorage.setItem("savedTasks", JSON.stringify(this.tasks));
                    } catch(e){}
                },
                hide(){
                    this.isHidden = !this.isHidden
                }
            },
            data() {
                return { 
                    task : {id : "", text : ""},
                    tasks : [],
                    isHidden : true
                }
            },
            mounted: function(){
                const savedTasks = JSON.parse(localStorage.getItem("savedTasks"));
                if(savedTasks){
                    return this.tasks=savedTasks;
                }
            }
        };
        Vue.createApp(options).mount("#app");           
    </script>
</body>
</html>